body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  scale: 0.5;
}

.card {
  width: 45%;
  display: inline-block;
}

.left {
  float: left;
  display: inline-block;
}

.right {
  display: inline-block;
  float: right;
}

.creative {
  color: midnightblue;
}

@media (max-width: 680) {

}
